@model IndoWars.ViewModels.ChapterListViewModel

@{
    ViewBag.Title = "Daftar Chapter";
}
<section id="Chapter">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect5">
            <h1>Chapter List</h1>
            <div class="divider"></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Chapter</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        Int32 i = 0;
                        foreach (var item in Model.ChapterLists)
                        {
                            <tr>
                                <td><img src="@item.Image" alt="@item.Image" style="width: 350px; height: 250px;"/></td>
                                <td style="width: 250px;">@item.Name</td>
                                <td class="active" style="text-align: justify">@item.Description</td>
                                @if (Model.Users.ChapterProgress < i)
                                {
                                    <td><a class="btn btn-danger"><span class="fa fa-lock"></span> Locked</a></td>
                                }
                                else
                                {
                                    <td><a asp-controller="Chapter" asp-action="@item.ActionName" class="btn btn-success"><span class="fa fa-check"></span> Available</a></td>
                                }
                                @{ i++;}
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>